html {
  background-color: #2c2a2a;
  height: 1500px;
  font-family: "Montserrat, Arial";
}

footer , #action-bar{
  background-color: #cae962;
  border-radius: 25px;
}

.action-bar-LINKS{
  padding-top: 35px;
  padding: 25px;
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 23px;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: solid;
  }
  


 #action-bar{
  height: 100px;
}

footer{
  height: 100px;
  text-align: center;
  text-transform: capitalize;      
  font-size: 20px;
  color: rgb(15, 13, 13);
}

.containers1 {
  height:350px;
  width: 250px;
 margin-left:40px; 
 margin-top: 30px;
 margin-bottom: 30px;
background-color: rgb(100, 126, 148);
 display: inline-block;
}


.containers2 , .containers21{
  height:350px;
  width: 250px;
 margin-left:40px; 
 margin-top: 30px;
 margin-bottom: 30px;
background-color: rgb(100, 126, 148);
 display: inline-block;
}


.containers3{
  height:350px;
  width: 250px;
 margin-left:40px; 
 margin-top: 30px;
 margin-bottom: 30px;
background-color: rgb(100, 126, 148);
 display: inline-block;
}



 /* {
  background-repeat: no-repeat;
  background-size: cover;
  height:350px;
  width: 250px;
}
 */


