html {
  background-color: #C8D9E6;
  height: 100%;
  width: 100%;
  font-family: "Montserrat, Arial";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
}

footer , #action-bar{
  background-color:#2F4156;
  border-radius:2%;
}

.action-bar-LINKS{
padding-top: 2%;
padding: 2%;
text-decoration: none;
color: rgb(10, 10, 10);
font-size: 23px;
font-weight: 500px;
margin-left: 2%;
text-decoration: solid;
}

.links{
  margin-left: 0px;
}

 #action-bar{
  height: 15%;
  margin-left: 2%;
  /* background-image: url(anime-uchiha-header1.jpg) ;
  background-repeat: no-repeat; */
}

footer
{
  height: 15%
  text-align: center;
  text-transform: capitalize;      
  font-size: large;
   color:white;
}

.containers1 {
  height:350px;
  width: 250px;
 margin-left:2%; 
 margin-top: 2%;
 margin-bottom: 2%;
background-color: rgb(100, 126, 148);
 display: flex;
}


.containers2 , .containers21{
  height:350px;
  width: 250px;
margin-left:2%; 
 margin-top: 2%;
 margin-bottom: 2%;
background-color: rgb(100, 126, 148);
 display: flex;
}


.containers3{
 display: flex;
  height:350px;
  width: 250px;
 margin-left:2%; 
 margin-top: 2%;
 margin-bottom: 2%;
background-color: rgb(100, 126, 148);
}

.Favourite-btn{
height:30px;
width: 40px;
background-color: rgb(32, 136, 228);
display: inline-block;
}


 */


